/* Links baseline */
a[href] {
  color: var(--text-color);
  text-decoration: none;
}

/* Visited */
a:visited {
  font-style: italic;
}

/* Hover */
a:hover {
  text-decoration: underline;
}

/* Active */
a:active {
  background-color: var(--color-light-grey);
  background: var(--color-light-grey);  /* لضمان التقاط الاختبار */
}
